---
layout: default
title: AI resources
permalink: "ai-resources/index.html"
---

<h1 class="text-3xl leading-normal font-bold mt-0 mb-7 text-center">{{ title }}</h1>
<div class="flex justify-center flex-wrap">
    <table class="min-w-full text-left text-sm font-light">
   <thead class="border-b font-medium dark:border-neutral-500">
      <tr>
         <th  class="px-6 py-4">Awesome</th>
         <th  class="px-6 py-4">Description</th>
      </tr>
   </thead>
   <tbody>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://chat.openai.com">ChatGPT</a></td>
         <td></td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://chat.d-id.com">Chat D-ID</a></td>
         <td></td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://cloud.google.com/dialogflow">Dialogflow</a></td>
         <td></td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://www.ibm.com/products/watson-assistant">Watson Assistant</a></td>
         <td></td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://dev.botframework.com">Microsoft Bot Framework</a></td>
         <td></td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://rasa.com">Rasa</a></td>
         <td>Conversational AI Platform</td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://botpress.com">botpress</a></td>
         <td></td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://hellotars.com">TARS</a></td>
         <td></td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://landbot.io/ai">Landbot AI</a></td>
         <td></td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://snatchbot.me">SnatchBot</a></td>
         <td></td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://www.botstar.com">Botstar</a></td>
         <td></td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://askyourpdf.com">Ask Your PDF</a></td>
         <td></td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://www.perplexity.ai">perplexity</a></td>
         <td></td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://hints.so">Hints</a></td>
         <td>AI Assistant that integrates with any software to perform tasks on your behalf</td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://chatspot.ai">ChatSpot</a></td>
         <td>ChatSpot = ChatGPT + the power of HubSpot CRM</td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://askthee.vercel.app">AskThee?</a></td>
         <td>Ever wanted to ask a question to a big thinker, artist or scientist? now is your chance.</td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://www.user.com/en/ai-chat">Ai Chat from User.com</a></td>
         <td>Automate your customer support instantly with AI</td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://www.chatpdf.com">ChatPDF</a></td>
         <td>Chat with any PDF!</td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://www.chatbase.co">Chatbase</a></td>
         <td>Train ChatGPT on your data and add it to your website</td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://huberman.rile.yt">Huberman AI</a></td>
         <td>Use AI to explore the wisdom of The Huberman Lab.</td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://aiintern.io">ai intern</a></td>
         <td>With AI Intern skip the grind and focus on the big picture.</td>
      </tr>
      <tr class="border-b dark:border-neutral-500">
         <td><a href="https://www.chatbotui.com">Chatbot UI</a></td>
         <td>Chatbot UI is an open source clone of OpenAI&#39;s ChatGPT UI.</td>
      </tr>
   </tbody>
</table>
 </div>